/node_modules
/public/build
/public/hot
/vendor

.env
.phpunit.result.cache

/database/database.sqlite

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore